@charset "utf-8";
/* Directory Plus */

.dplus_container {
	
}

/* Titles */
.dplus_main_title {
	
}
.dplus_sub_title {
	margin: 6px 0;
	font-family: inherit;
	font-weight: bold;
	line-height: 20px;
	color: #314e78;
	text-rendering: optimizelegibility;	
	font-size: 31.5px;
	padding-bottom: 1%;
	border-bottom: 2px solid #314e78;
}

/* End Titles */


/* Rows */
.dplus_row {
	display: block;	
}
.dplus_row:after {
	visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;	
}

/* IE6 */
* html .dplus_row {
	zoom: 1;	
}
/* IE7 */
*:first-child+html .dplus_row {
	zoom: 1;	
}

/* End Rows */


/* Members */
.dplus_member {
	float: left;
	width: 25%;
	padding: 1% 2%;
	margin: 1% 2%	
}

.dplus_member_name {
	font-size: 17.5px;
	color: #314e78;
	border-bottom: 1px solid #314e78;
	margin-top: 5%;
	margin-bottom: 2%;
}
/* End Members */